<!DOCTYPE html>
<html lang="en">
<head>
    <title>Nick & Judy's Farm Stand</title>

    <!--Google Materialize CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <!--Google Materialize JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

</head>
<body>
{{{ body }}}
</body>
</HTML>